# Виртуальное окружение (Virtual Environment)
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки PyCharm (обычно не добавляются в репозиторий)
.idea/

# Файлы операционной системы (примеры для macOS)
.DS_Store

# Другие возможные файлы (если появятся позже)
# *.log
# *.pot
# *.py[cod]
dist/
